.inputs{
    margin-left: 15px !important;
    margin-right:15px !important;
    width: 200px !important;
    margin-bottom: 10px !important;
}

.lookup-inputs-container{
    display: grid;
    grid-auto-columns: 2fr 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-gap: 10px;
}
.box_options{
    grid-column-start:1;
    grid-column-end: 2; 
}
.box_buttons{
    margin-top:20px; 
    grid-column-start: 2;
    grid-column-end:3;
    width: 200px;
}
.box_table{
    height: 720px;
    width: 1100px;
    grid-column: 1 / -1;
}