.search-container{
    display: grid;
    grid-auto-columns: 2fr 1fr;
    grid-gap: 10px;
}
.search-inputs-box{
    grid-column-start:1;
    grid-column-end: 2; 
}
.search-buttons-box{
    margin-top:20px; 
    grid-column-start: 2;
    grid-column-end:3;
    width: 200px;
}