@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
body {
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
}

.inputs{
  margin-left: 15px !important;
  margin-right:15px !important;
  width: 200px !important;
  margin-bottom: 10px !important;
}

.lookup-inputs-container{
  display: grid;
  grid-auto-columns: 3fr 1fr;
  grid-gap: 10px;
}
.box_options{
  grid-column-start:1;
  grid-column-end: 2; 
}
.box_buttons{
  margin-top:20px; 
  grid-column-start: 2;
  grid-column-end:3;
  width: 200px;
}
.box_table{
  min-width:800px;
  max-width: auto;
  grid-column: 1 / -1;
}
.container{
  /* for debugging */
}
.multiline{
  height: 300px !important;
}
.center{
  justify-content:center;
  text-align:center;
}
.formGroup > *{
  display: inline-block;
}
.input-container{
display: grid;
grid-template-columns: repeat(4,1fr); 
grid-template-areas:
"a a a b";
}
.input-inputs{
grid-area: a;
}
.input-buttons{
grid-area: b;
justify-content: center;
align-self: center;
}
.something-table{
  width:800px;
}

a{
  text-decoration: none;
}

.search-container{
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5,200px);
  grid-gap: 10px;
  grid-template-areas: 
  "b h o d s"
}
.search-half-input{
  grid-area: h;
justify-content: center;
align-content: center;
text-align: center;
}
.search-inputs-box{
grid-area: b;
justify-content: center;
align-content: center;
text-align: center;
}
.search-donor-id{
  grid-area: d;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.span-text{
  grid-area: o;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.search-buttons-box{
  margin-top:200px; 
  grid-area: s;
  justify-content: right;
  align-content: right;
  text-align: right;
}
.search-box_table{
  min-width:800px;
  max-width: 1000px;
}
.charts-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 25px;
  margin:0 10% 10% 10%;
}
.style-chart-title{
text-transform: uppercase;
letter-spacing: 2px;
}